*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Teko", sans-serif;     
}

body{
    background: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


h1{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000000;
    text-transform: uppercase;
    align-self: center;
    
}


.calc_container{
    background: linear-gradient(135deg, #dda358fe , white);
    border: 4px solid #918a8a;
    border-radius: 5px;   
    padding:20px;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
   
}


#calculatorscreen{
    height: 55px;
    width: 300px;
    border-radius: 5px;
    border: 3px solid #918a8a;
    background: #ffffff;
    padding-bottom: 10px;
    padding-right: 10px;
}

#screen{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    font-size: 40px;
    
}



/* all buttons style */
.btn{
    height: 50px;
    width: 60px;
    font-size: 30px; 
    border-radius: 5px;
    border: 3px solid #918a8a;
    background: rgb(233, 230, 230);
    display: flex;
    justify-content: center;
    align-content:center;
  
    
}


.btn:active{
    background-color: #cbc1c1;

}
.equalsbtn{
    width: 133px;
    background-color: #dfa945;
}

.operator{
    background-color: #dfa945;
}

.clear{
    width: 135px;
    margin-right: 65px;
}


footer p{
    font-size: 10px;

}